@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@import url("https://api.fontshare.com/v2/css?f[]=satoshi@700,500,301,701,300,501,401,400&display=swap");

@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

select:focus input:focus textarea:focus {
  outline: none !important;
  border-color: none !important;
  --tw-ring-shadow: none !important;
  --tw-ring-color: none !important;
}

.slick-arrow {
  display: none !important;
}

.overlay {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.upcoming {
  background: linear-gradient(
    99.99deg,
    #4693ed -26.21%,
    #79c2d2 22.16%,
    rgba(192, 86, 9, 0.49) 111.62%
  );
}

.upcoming-container {
  background-position: center;
  background-size: cover;
}

._2jvtI {
  display: flex;
  gap: 5px;
}

._2jvtI li {
  font-family: "Satoshi", sans-serif;
  color: #bcb7b7;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
}

._2jvtI li:not(:last-of-type)::after {
  content: " /";
}

.box-shadow {
  box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 798px) {
  .box-shadow {
    box-shadow: none;
  }
  .box-shadow2 {
    box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.1);
  }
}

.rc-slider-track {
  background-color: #000 !important;
}

.rc-slider-handle {
  border: solid 1px #000 !important;
  background-color: #000 !important;
}

.rc-slider-handle-1 {
  background-color: #fff !important;
  opacity: 1 !important;
}

.card {
  border-radius: 15px !important;
  border: none;
}

.card img {
  border-radius: 8px;
}

.card > div {
  padding: 20px 14px;
}
